{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_sorting }}</h3>
      </div>

<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          Category Edit
        </h4>
      </div>
      <div class="modal-body modal-item-container">
       
      </div>
      <div class="modal-footer">
    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><style>li.disabled{ color: Red;}li.disabled>ul{color:#000;}</style>

<div class="panel-body">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title"><strong>Manage Category</strong></h3>
    </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">

         <div class="expand-collapse-div">
          <button type="button" id="expand-all" class="expand-collapse btn btn-primary">Expand</button>
          </div>
          <div class="expand-collapse-div">
            <button type="button" id="collapse-all" class="expand-collapse btn btn-primary">Collapse</button>
         </div>

          <div id="jstree" style="font-size:12px;">
            {{ select_html }}
          </div>

          <style>
            li.disabled{ color: Red;}
            li.disabled>ul{color:#000;}
          </style>

        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

{{ footer }}