
{{ header }}{{ column_left }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div id="content" style=" margin-left: 17%; ">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid" style="background-color: #fff;">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
 <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_sorting }}</h3>
      </div>
	</div> -->

	<div id="">
         <nav id="groupb" >
            <div class="basketsettings text-center">
               <a class="moveleft" draggable="false"><i class="fa fa-chevron-left"></i>Move the Basket to left</a> 
               | 
               <a class="resetnav" draggable="false"><i class="fa fa-refresh"></i>Reset</a>
            </div>
         </nav>
      </div>
      <div class="">
         <div class="navbar-header pull-right">
            <a id="nav-expander" class="nav-expander fixed" style="padding: 1em 0.6em 2em;height:32px">
               <i class="fa fa-shopping-basket" style="font-size:27px;color:#fff"></i>
            </a>
         </div>
      </div>
      <div class="jumbotron modalholder">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <!-- <a href="index.php">
                  <img width="80" src=" {{ServerPath}}/skin/frontend/intenso/default/images/plogo.png" class="pull-left">
                  </a> -->
                 
                  <div>Choose a Category to load products</div>
                 
                  <div class='categoryloader text-center'>
                     {{ select_html }}
                     <!-- echo $select_html; -->
                    <button class="btn btn-success btn-xs loadcategoryitems form-control">Load Products</button>
                  </div>
                
                  <!-- <div class="modalholder">Modal holder</div> -->
                  <fieldset style="margin-top: 50px;">
                     <legend>Options | <input type='checkbox' class='tipenable' checked>Enable / Disable tip</legend>
                     <!-- <input type="checkbox" id="reposition"/>Reposition Category products
                     <button class="btn btn-success savepositions btn-xs" style="display:none">Save positions</button> -->
                     <!-- Modal -->
                     <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                           <!-- Modal content-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">
                                    Select Product or List of product
                                 </h4>
                              </div>
                              <div class="modal-body">
                                 <div class="container bulk-item-for-assignment">
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <span class="showmarker" style="display:none"><input type="checkbox" class="Modalsetasaccessories"/>Start Marking</span>
                                 <button type="button" class="btn btn-success btn-xs setAccessoryWithSettings" style="display:none">Set Basket items as ACCESSORIES</button>
                                 <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </fieldset>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10">
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Simple List -->
      <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 simpleList" id="simpleList">
            <h4 style=" margin-bottom: 5%; " class="text-center">{{ heading_title }}</h4>
            
         </div>
      </div>
      <div class="row">
       <div class="col-md-10">
          <div class="clearfix"></div>
       </div>
    </div>
  </div>
</div>

{{ footer }}