{{ header }}{% if version == 2 %}{{ column_left }}{% endif %}
<div id="content">
    {% if version == 1 %}
  <div class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
          {{ breadcrumb.separator }}<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      {% endfor %}
  </div>
  <div class="box">
    <div class="heading">
      <h1>{{ heading_title }}</h1>
    </div>
      {% elseif version == 2 %}
    <div class="box">
      <div class="heading">
        <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
              <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
      </div>
        {% endif %}
      <div class="content">
        <div class="cart2cart">
          <iframe src="{{ src_url }}" style="height: 800px; width: 100%"></iframe>
        </div>
      </div>
    </div>
  </div>
{{ footer }}